<ion-view view-title="Upload" cache-view="false">
    <ion-nav-title class="nav-container">
        <img class="nav-logo" src="img/manja_nav_logo.png">
    </ion-nav-title>
    <ion-content class="cameraPane">
        <div class="list">
            <a class="item item-avatar" ng-click="takePicture()">
                <img src="img/camera.png">

                <h2>Camera</h2>

                <p>Take a picture using your devices camera.</p>
            </a>
            <a class="item item-avatar" ng-click="useCameraRoll()">
                <img src="img/photo_roll.png">

                <h2>Camera Roll</h2>

                <p>Upload a picture from your camera roll.</p>
            </a>
        </div>
    </ion-content>
</ion-view>