<ion-view view-title="Privacy Policy">
    <ion-content class="noticePane">
        <p>
            PRIVACY POLICY
        </p>

        <p>
            Effective Date: 1/30/2015
        </p>

        <p>
            MotiveAte, LLC (the “Company”) collects certain information through Manja (our “App”). This page (this
            “Privacy Policy”) lays out our policies and procedures surrounding the collection and handling of any such
            information that identifies an individual user or that could be used to contact or locate him or her
            (“Personally Identifiable Information” or “PII”). You may access this Privacy Policy at any time by clicking
            on the “Privacy Policy” link for our App on the App Store or Google Play page or by visiting our website at:
            www.manjaapp.com.
        </p>

        <p>
            Your download and use of our App constitutes an acceptance of this Privacy Policy. If you do not agree to
            the terms of this Privacy Policy, immediately discontinue use of our App and delete our App from your mobile
            device. To revoke consent to the use of your PII and to have your PII removed from the Company’s database,
            contact the Company using the Contact Information listed at the end of this Privacy Policy and your account
            and profile will be deleted.
        </p>

        <p>
            1. What information does Company collect?
            The PII that the Company collects from you when you register includes, but is not limited to: your name,
            e-mail address, photo, and skills set.
        </p>

        <p>
            More specifically, the Company may collect the following types of information:
        </p>

        <p>
            a. Your PII.
            i. Your PII when you provide it or if we collect it as described in this Privacy Policy.
            ii. Your logon ID and password for our App.
            iii. Your location and contact information, such as e-mail address.
            iv. Any other information that you submit to the Company.
        </p>

        <p>
            b. Your non-PII.
            i. The Company may use analytic and reporting technologies to collect anonymous information from you.
            Examples of this anonymous information are: your browser type, your device’s operating system, date/time of
            access to our App, and geographic information.
        </p>

        <p>
            2. Where does the Company store your information?
            The Company stores the information it collects our App in servers owned by a reputable cloud provider. Your
            use of our App acts as your consent to transfer your PII outside of your country of residence if such
            servers reside outside of your country of residence.
        </p>

        <p>
            3. How does the Company use your information?
            The Company does not sell, rent, or share your PII in any ways other than those described below.
        </p>

        <p>
            You have consented to the Company’s use of your information by your registration on our App. The Company may
            use your information in any of the following ways:
        </p>

        <p>
            a. The Company uses your PII and your non-PII to notify you about the details of the activity on the App.
            b. The Company reserves the right to make full use of your non-PII. The Company may use this information for
            the purposes of demographics and analytics. The Company may sell this demographic information to third
            parties or may use this demographic information to solicit advertising for our App. In addition, the Company
            may use this non-PII for the purpose of analyzing traffic to our App. This use may include those to provide
            better service to users of our App, to customize our App based on your preferences, to compile and analyze
            statistics about our App.
            c. The Company may use your information to register, manage, and maintain your account.
            d. The Company may use your information to allow other users to communicate with you.
            e. The Company may use your information to communicate with you regarding administrative notices or your use
            of our App.
            f. The Company may use your information to contact you about security and feature updates.
            g. The Company may use your information to provide our Services as requested by you.
            h. The Company may use your information to analyze trends and statistics on our App.
            i. The Company may use your information to assist the Company in our operation, evaluation, and improvement
            of our App, or our Services.
            j. The Company may use your information to enforcement the Company’s Terms of Use.
            k. The Company may use your information if needed to manage risk if we suspect fraud, unauthorized
            transactions, or other security breaches on our App.
            l. The Company may use your PII to communicate with you via e-mail, text messages, or phone calls. You may
            opt-out of these communications by following the instructions as described in this Privacy Policy.
            m. The Company may use your information if necessary for compliance with applicable legal requirements,
            industry standards, or Company policies.
        </p>

        <p>
            The Company shall not link your PII with your non-PII in a way that would serve to identify your behaviors
            on a personal level. As an example, the Company will not keep a record of how many times you have personally
            used our App. Instead, the Company may conglomerate your usage statistics with those of others to look for
            trends.
        </p>

        <p>
            The Company abides by the Electronic Communications Privacy Act of 1986, 18 U.S.C. §§ 2701-2711 (“ECPA”).
            All e-mail messages and other electronic communications sent through our App and only viewable to those to
            whom they are sent are considered as confidential and private except as required by law, including without
            limitation, the ECPA. Our App is not considered a “secured communications medium” under the ECPA. We have a
            limited ability to intercept and/or disclose electronic messages. Some of the situations under which we are
            allowed to intercept and disclose electronic messages is when we receive a court order, subpoena, warrant,
            or other legal demand and when we receive information that appears to be related to a criminal act.
        </p>

        <p>
            4. How does the Company collect your information?
            a. Collection of PII
            The Company collects your information, including PII, during the registration process. The Company may also
            collect PII when you communicate with us via e-mail, telephone, or our App.
        </p>

        <p>
            b. Collection of Passive Non-PII
            The Company may collect passive non-PII by using analytic and reporting technologies. This collection of
            non-PII may be done passively (i.e., without your affirmative consent) while you are using our App.
        </p>

        <p>
            5. How does the Company protect PII?
            The Company uses reasonable practices and technologies to safeguard your information against illegal
            intrusion and unauthorized access. No security measures are 100% reliable, however. Therefore, the Company
            cannot warranty the security of your PII.
        </p>

        <p>
            The Company does not guarantee that your PII will never be compromised because no electronic transmission is
            completely secure. Even though the Company will employ every reasonable security measure to protect the
            privacy of your PII, the Company cannot guarantee that these security measures will be sufficient or that
            they will never fail or be circumvented.
        </p>

        <p>
            The Company uses the SSL (Secure Socket Layer) protocol to encrypt any information that you transmit to the
            Company through our registration process.
        </p>

        <p>
            You have the responsibility of protecting your logon ID and password. You must contact the Company (using
            the contact information in this Privacy Policy) if you have reason to believe that your account has been
            compromised. In addition, you agree that you will not share your logon ID and password with anyone else
        </p>

        <p>
            The Company will never send you any communication (e-mail or otherwise) asking for your logon ID or
            password. If you receive any such communication that looks like it is from the Company, do not respond to
            the communication and immediately report such communication to the Company at the contact information in
            this Privacy Policy.
        </p>

        <p>
            You understand and agree that you are using our App at your own risk. You assume all responsibility and risk
            for your use of our App and understand that information you share through our App is shared at your own
            risk.
        </p>

        <p>
            6. Who has access to your PII?
        </p>

        <p>
            a. Service Providers
        </p>

        <p>
            The Company may disclose your PII to service providers who maintain our App. These trusted service providers
            will have access to your PII but may not use your PII for any purposes other than those to which they have
            been entrusted. The Company shall use reasonable efforts to ensure that these service providers hold your
            PII in confidence. In addition, the Company shall only disclose your PII to third parties that the Company
            believes in good faith follow acceptable privacy and security policies.

        <p>
            b. Legal Enforcement
        </p>

        <p>
            The Company may disclose your PII to investigate or enforce violations of our rights. The Company may also
            disclose your PII to protect the security of our App. In addition, the Company reserves the right to
            disclose your PII if the Company has a good faith belief that this disclosure is necessary to satisfy a
            legal process or enforceable government request (such as a subpoena) or to be in compliance with any law or
            regulation.
        </p>

        <p>
            c. Successors 
            The Company may transfer your PII as part of a sale, merger, acquisition, or any other change of control. In
            addition, the Company reserves the right to transfer your PII to protect the Company’s legal rights in the
            unlikely of a bankruptcy, reorganization, receivership, assignment, or any application of creditors’ rights.
        </p>

        <p>
            7. How do you access and correct your information?
            You may update and/or correct your information, including your PII, by logging into our App and making the
            desired changes.
        </p>

        <p>
            8. How does the Company amend this Privacy Policy?
            The Company may change this Privacy Policy at any time, without prior notice to you, by posting a new
            version on this page or on a successor page. The new version will become effective on the date it’s posted,
            which will be listed at the top of the page as the new Effective Date. You may access this Privacy Policy at
            any time by clicking on the “Privacy Policy” link for our App on the App Store or Google Play page or by
            visiting our website at: www.manjaapp.com. Your continued use of our App is your acceptance of the new terms
            of the Privacy Policy.
        </p>

        <p>
            If the Company makes any modifications to this Privacy Policy that are materially less restrictive with
            regard to the Company’s use or disclosure of your PII, the Company shall notify you and ask for your
            permission before continuing use of your PII under these new terms.
        </p>

        <p>
            9. What is the Company’s online policy with regard to children?
            The Company will not knowingly collect any information from children under the age of thirteen (13) as is
            consistent with the Children’s Online Privacy Protection Act (COPPA). If, as a parent or guardian, you
            discover that your child under the age of thirteen (13) has supplied the Company with PII, you may contact
            the Company and we will remove your child’s information from our database. Contact as us using this
            information provided in this Privacy Policy. In this communication with us, please provide the logon ID and
            password used by your child to enter their PII into our App.
        </p>

        <p>
            10. How can you contact the Company?
            MotiveAte, LLC
            Address:
            E-mail: team.motiveate@gmail.com
        </p>
    </ion-content>
</ion-view>