<ion-view view-title="Terms and Conditions">
    <ion-content class="noticePane">

        <p>
            TERMS OF USE
        </p>

        <p>
            Effective Date: 1/28/2015
        </p>

        <p>
            PLEASE READ THIS TERMS OF USE AGREEMENT CAREFULLY BEFORE DOWNLOADING OR USING THE MANJA MOBILE APP (“App”).
            YOUR
            DOWNLOAD AND/OR USE OF THE APP IS YOUR ACKNOWLEDGEMENT THAT YOU HAVE READ, UNDERSTAND, AND AGREE TO THIS
            TERMS
            OF USE AGREEMENT (“Agreement”). IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, IMMEDIATELY DISCONTINUE
            USE
            OF THE APP AND DELETE THE APP FROM YOUR MOBILE DEVICE. THIS AGREEMENT IS A BINDING LEGAL AGREEMENT BETWEEN
            MOTIVEATE, LLC (“COMPANY”) AND YOU. COMPANY’S PRIVACY POLICY IS INCORPORATED BY REFERENCE INTO THIS
            AGREEMENT.
            COMPANY MAY CHANGE THIS AGREEMENT AT ANY TIME, WITHOUT PRIOR NOTICE TO YOU, BY POSTING A NEW VERSION ON T
            HIS
            PAGE OR A SUCCESSOR PAGE. THIS NEW VERSION WILL BECOME EFFECTIVE ON THE DATE IT IS POSTED, WHICH WILL BE
            LISTED
            AT THE TOP OF THE PAGE AS THE EFFECTIVE DATE. YOU MAY ACCESS THIS AGREEMENT AT ANY TIME BY CLICKING ON THE
            “TERMS OF USE” LINK ON OUR APP STORE OR GOOGLE PLAY PAGE OR BY VISITING OUR WEBSITE AT: WWW.MANJAAPP.COM.
            YOUR
            CONTINUED USE OF THE APP AFTER THE NEW EFFECTIVE DATE IS YOUR ACCEPTANCE OF THE NEW TERMS OF THE AGREEMENT.
            IF
            YOU DO NOT AGREE TO THE REVISED TERMS OF THE AGREEMENT, YOU MUST IMMEDIATELY DISCONTINUE USE OF THE APP AND
            UNINSTALL THE APP FROM YOUR DEVICE. YOUR USE OF THE APP IS AT YOUR OWN RISK. THERE ARE NO WARRANTIES EXPRESS
            OR
            IMPLIED. IN ADDITION, IT IS YOUR RESPONSIBILITY TO REVIEW THIS AGREEMENT AND THE PRIVACY POLICY PERIODICALLY
            AND
            TO UPDATE THE APP TO ITS LATEST VERSION. IF YOU DO NOT AGREE TO THE TERMS OF THIS AGREEMENT, DO NOT DOWNLOAD
            OR
            USE THE APP.
        </p>

        <p>
            1. Parties
            The parties to this Agreement are you and the owner of the Manja App, MotiveAte, LLC, (“Company”). All
            references to “we,” “us,” or “our” will be construed to mean the Manja App business and the Company.
        </p>

        <p>
            2. Modification
            We reserve the right to modify this Agreement at any time, and without prior notice, by posting an amended
            Terms
            of Use Agreement that is always accessible through the “Terms of Use” link on the App’s App Store or Google
            Play
            page. You can find the effective date in the top left corner of the Agreement. YOUR CONTINUED USE OF THE APP
            FOLLOWING OUR POSTING OF NEW TERMS OF USE WILL CONSTITUTE BINDING ACCEPTANCE OF THE MODIFICATION OF THESE
            NEW
            TERMS OF USE.
        </p>

        <p>
            3. Grant of License
            Subject to this Agreement, Company grants you a non-exclusive, non-transferable, revocable license to use
            the
            App. Company reserves the right to update or modify the App at any time, from time to time in its sole
            discretion, including without limitation, to increase or change functionality of the App.
        </p>

        <p>
            4. Requirements
            Subject to this Agreement and our Privacy Policy, you agree to the following requirements regarding use of
            the
            App:
            a. You must create an account.
            b. You agree to immediately notify Company of any unauthorized use of your account or password.
            c. You are fully and solely responsible for the security of your mobile device and all activity on your
            account
            even if such activities were not committed by you. You agree to indemnify and hold the Company harmless for
            any
            improper or illegal use of your account or password, unless you have notified us via e-mail to
            team.motiveate@gmail.com that your account has been comprised and have requested us to block access to it.
            This
            includes illegal or improper use by someone to whom you have given permission to use your account.
            d. You must be at least 13 years old to use the App.
            e. You are solely responsible for your conduct and any data, text, files, information, usernames, images,
            graphics, photos, profiles, audio and video clips, sounds, musical works of authorship, applications, links,
            and
            other content or materials that you submit, post, or display via the App.
            f. If you are running the App on an iOS device, this Agreement incorporates and supplements the Apple Inc.
            Terms
            and Conditions found at http://www.apple.com/legal/itunes/us/terms.html#service.
        </p>

        <p>
            5. Restrictions
            Subject to this Agreement and our Privacy Policy, you may use the App with the following restrictions:
            a. You shall not, nor may you assist other parties to, (a) except as expressly permitted herein, use, copy,
            modify, or create derivative works of the App or part thereof, (b) distribute or transfer the App or part
            thereof or sublicense your right to use the App hereunder, (c) reverse-engineer, disassemble, or attempt to
            derive the source code of the App or part thereof, (d) attempt to disable or circumvent any security or
            access
            control mechanism of the App, or (e) post any links that contain viruses or malicious software or otherwise
            violate state or federal law.
            b. You shall not provide false information during the registration process.
            c. You shall not reveal your password to others.
            d. You shall not post violent, nude, partially nude, discriminatory, unlawful, infringing, hateful,
            pornographic, or sexually suggestive photos or other content via the App.
            e. You shall not solicit, collect, or the use the login credentials of other users.
            f. You shall not defame, stalk, bully, abuse, harass, threaten, impersonate, or intimidate people or
            entities
            and you must not post private or confidential information via the App, including, without limitation, your
            or
            any other person’s credit card information, social security or alternative national identity numbers,
            non-public
            phone numbers, or non-public e-mail addresses.
            g. You shall not use the App for any illegal or unauthorized purpose. You agree to comply with all laws,
            rules,
            and regulations applicable to your use of the App and your Content, including, but not limited to, copyright
            laws.
            h. You shall not change, modify, adapt, or alter the App or change, modify, or alter another website or app
            so
            as to falsely imply that it is associated with the App or the Company.
        </p>

        <p>
            6. How We Treat Posts to the App
            The Company will not treat information that you post as proprietary, private, or confidential. We have no
            obligation to monitor posts to the App or to exercise any editorial control over such posts; however, we
            reserve
            the right to review such posts and to remove any material that, in our judgment, is not appropriate.
            Posting,
            transmitting, promoting, using, distributing, or storing content that could subject us to any legal
            liability,
            whether in tort or otherwise, or that is in violation of any applicable law or regulation, or otherwise
            contrary
            to commonly accepted community standards, is prohibited, including, without limitation, information and
            material
            protected by copyright, trademark, trade secret, nondisclosure, or confidentiality agreements, or other
            intellectual property rights, and material that is obscene, defamatory, constitutes a threat, or violates
            export
            control laws.
        </p>

        <p>
            7. Defamation; Communications Decency Act Notice
            This App is a provider of “interactive computer services” under the Communications Decency Act, 47 U.S.C.
            Section 230 and, as such, our liability for defamation and other claims arising out of any posts to the App
            by
            third parties is limited as described therein. We are not responsible for content or any other information
            posted to the App by third parties. We neither warrant the accuracy of such posts or exercise any editorial
            control over such posts, nor do we assume any legal obligation for editorial control of content posted by
            third
            parties or liability in connection with such posts, including any responsibility or liability for
            investigating
            or verifying the accuracy of any content or any other information contained in such posts.
        </p>

        <p>
            8. Monitoring
            The Company reserves the right, but not the obligation, to monitor your access and use of the App without
            notification to you. We may record or log your use in a manner as set out in our Privacy Policy.
        </p>

        <p>
            9. Ownership
            You have no ownership rights in the App. Rather, you have a license to use the App only so long as this
            Agreement remains in effect. Ownership of the App and all intellectual property rights therein will remain
            at
            all times with Company or its licensors. All rights not expressly granted to you herein are reserved to the
            Company or its licensors. Any references to the sale or transfer of the App herein or in any other
            communication
            between Company and you will mean only the license of the App pursuant to the terms and conditions of this
            Agreement. The license granted to you for the App is a non-transferable license to use the App on any mobile
            device that you own or control.
        </p>

        <p>
            10. User Submissions
            You have no obligation to provide us with any feedback concerning the App. Nevertheless, if you provide us
            with
            any feedback concerning the App, you also provide us with a non-exclusive, perpetual license to make all
            uses of
            such feedback. The Company shall not accept any creative ideas, suggestions, inventions, or materials other
            than
            those we have specifically requested (“Submissions”). If you submit these Submissions regardless of this
            stated
            policy, the Submissions will automatically become the property of the Company. None of the Submissions will
            be
            subject to any obligation of confidentiality and we shall not be liable for its disclosure or use. Company
            will
            have exclusive ownership of all now known or later discovered rights to the Submissions and will be entitled
            to
            unrestricted use of the Submissions for any purpose whatsoever, commercial or otherwise, without
            compensation to
            you.
        </p>

        <p>
            11. Content
            As used in this Agreement, the term “Content” means all content on or made available through the App,
            including
            but not limited to any conversations, chats, videos, or pictures you or any other user may make available
            through the App. You are fully and solely responsible for any Content you make available through the App,
            and
            represent and warrant that such Content complies with all applicable law and does not infringe third-party
            intellectual property rights. Company has no obligation to accept, display, review, or maintain any Content.
            Moreover, Company reserves the rights to remove and permanently delete any Content, including any Content of
            any
            user, without notice and for any reason. Company reserves the right to review user’s content based solely on
            its
            discretion. You understand Company is not responsible for the accuracy, usefulness, safety, or intellectual
            property rights of or relating to this Content. Although users must agree to this terms and conditions of
            this
            Agreement, it is possible that users (including unauthorized users) may post or transmit offensive or
            obscene
            materials to which you may be involuntarily exposed, and you hereby agree to waive, and do waive, any legal
            or
            equitable rights or remedies you have or may have against Company with respect thereto. Company disclaims
            all
            liability, regardless of the form of action, for the acts or omissions of other members or users (including
            unauthorized users). Company does not endorse any Content or any opinion, recommendation, or advice
            expressed in
            any Content, and Company expressly disclaims any and all liability in connection with Content. You shall
            not, or
            assist other parties to: (i) Use the App or any Content to disparage, threaten, harass, intimidate, or abuse
            anyone or promote violence; (ii) Post, distribute, or make available or transmit any Content containing
            obscenity or pornography; (iii) Post, distribute, or make available or transmit any viruses or other
            malicious
            software through the App; (iv) Make available any Content that infringes or violates the contractual,
            intellectual property, moral rights, or other rights of any party; (v) Use the App to send advertising,
            commercial communications, or spam, or for any other telemarketing purpose; or (vi) Conduct or promote any
            illegal activity through the App. You hereby acknowledge that inappropriate Content may be removed by
            Company at
            any time and may cause the suspension of your account.
        </p>

        <p>
            12. Company’s Use of Content
            Company’s use and disclosure of any Content or any information concerning your use of the App is subject to
            the
            terms and conditions contained herein. Furthermore, any questions regarding the App’s terms and conditions
            can
            be sent to team.motiveate@gmail.com. By submitting, posting, or making available any Content, you grant
            Company
            and its successors and assigns a worldwide, non-exclusive, royalty-free, perpetual, sublicensable (through
            multiple tiers of sublicensees) and transferable license to use, copy, distribute, transmit, modify, prepare
            derivative works of, publicly display, and publicly perform such Content (i) as directed by you, through the
            App, (ii) as directed by other users to whom you send Content, and (iii) for the purpose of commercially
            promoting the App or Company’s business, in any media format and through any media channels. You also agree
            to
            allow Company to utilize App data for various marketing purposes including but not limited to data market
            analysis and statistical purposes. In using any Content to commercially promote the App or the Company’s
            business, Company shall make commercially reasonable efforts to remove from the Content any information that
            may
            be considered private or confidential. You represent and warrant that you have all necessary rights to grant
            Company the license and waiver set forth in this Paragraph. Company shall have no responsibility or
            liability
            for any use of Content by third parties to whom you provide such Content or to whom you direct Company to
            provide such Content.
        </p>

        <p>
            13. Warranty Disclaimer
            THIS APP IS PROVIDED “AS-IS” AND NEITHER WE NOR ANY OF OUR LICENSORS MAKE ANY REPRESENTATION OR WARRANTY
            WITH
            RESPECT TO THE APP, SERVICES, AND/OR CONTENT. THE COMPANY SPECIFICALLY DISCLAIMS, TO THE FULLEST EXTENT
            PERMITTED BY LAW, ANY AND ALL WARRANTIES, EXPRESS OR IMPLIED, RELATING TO THIS APP, SERVICES, AND/OR CONTENT
            ACQUIRED FROM THIS APP, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTIBILITY, COMPLETENESS,
            TIMELINESS, CORRECTNESS, NON-INFRINGEMENT, OR FITNESS FOR ANY PARTICULAR PURPOSE. THE COMPANY AND ITS
            LICENSORS
            DO NOT REPRESENT OR WARRANT THAT THE APP, ITS SERVICE OR CONTENT: (A) WILL BE SECURE, TIMELY, UNINTERRUPTED,
            OR
            ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM, OR DATA, (B) WILL MEET YOUR
            REQUIREMENTS OR EXPECTATIONS, (C) WILL BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS, (D) THAT THE APP WILL
            OPERATE AS INTENDED OR AT ALL UNDER THE CONDITIONS, OR (E) THAT ANY DEFECTS WILL BE CORRECTED BY THE
            COMPANY.
            THE APP IS NOT FAULT-TOLDERANT AND IS NOT DESIGNED, MANUFACTURED, OR INTENDED FOR USE WITH HIGH-RISK
            ACTIVITIES.
            THESE DISCLAIMERS CONSTITUTE AN ESSENTIAL PART OF THE THIS AGREEMENT. IF IMPLIED WARRANTIES ARE LIMITED IN
            DURATION UNDER APPLICABLE LAW, THEN ANY IMPLIED WARRANTIES ARE LIMITED IN DURATION TO THE PERIOD REQUIRED BY
            APPLICABLE LAW. SOME STATES OR JURISDICTIONS DO NOT ALLOW LIMIATIONS ON HOW LONG AN IMPLIED WARRANTY MAY
            LAST,
            SO THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
        </p>

        <p>
            14. Indemnification
            You shall defend, indemnify, and hold Company, its affiliates, employees, officers, directors, contractors,
            and
            agents harmless from and against any and all claims, losses, liabilities, costs, and expenses directly or
            indirectly arising out of or connect with: (i) Your breach of any provision of this Agreement, or any
            representation or warranty made by you herein; (ii) Your use of the App and any Content made available by
            you;
            and (iii) Any third party allegations (even though such allegations may be false, fraudulent, or groundless)
            regarding (i) or (ii) above. Notwithstanding such obligations, Company may control any defense of such
            claims.
            If Company requires you to defend such claims, your choice of counsel must be reasonable satisfactory to
            Company. You shall not settle or compromise claims that impose any obligation on Company or admits any fault
            on
            the part of the Company without its prior written consent. Company may participate in the defense of all
            claims
            with counsel of its own choice at its own expense. In the event of any third party claim that the App or
            your
            possession of and use of the App infringes that third party’s intellectual property rights, Company shall be
            solely responsible for the investigation, defense, settlement, and discharge of any such intellectual
            property
            infringement claim.
        </p>

        <p>
            15. Product Claims
            Company and you acknowledge that the Company is responsible for addressing any claims of the end-user or any
            third party relating to the App or your possession and/or use of the App, including, but not limited to: (i)
            product liability claims; (ii) any claim that the App fails to conform to any applicable legal or regulatory
            requirement; and (iii) claims arising under consumer protection or similar legislation.
        </p>

        <p>
            16. Limitation of Liability
            In no event shall Company or its licensors be liable to you or any other entity for indirect, special,
            incidental, or consequential damages (including, but not limited to, loss of profits, loss of data, or loss
            of
            use damages) as a result of the App or any Content, even if Company has been advised of the possibility of
            such
            damages of losses. Company’s (and its licensors’) liability for the App, any Content, or under this
            Agreement,
            will not exceed amounts paid by you to Company for the use of the App. As such, if you have not made any
            payments to Company for the use of the App, Company shall not have any liability to you.
        </p>

        <p>
            17. Termination
            Company may suspend or terminate your account or this Agreement at any time and for any reason or no reason
            at
            Company’s sole discretion, including, but not limited to: (i) if you violate the terms of this Agreement
            including but not limited to displaying or transmitting infringing or illegal material; (ii) Company is
            unable
            to verify or authenticate any information you provide; (iii) such information becomes inaccurate; or (iv)
            Company decides in its sole discretion to cease offering the App. Upon termination, you must immediately
            cease
            use of the App. This entire Agreement will survive the termination or expiration of this Agreement for any
            reason.
        </p>

        <p>
            18. DMCA Notice
            Company respects the intellectual property rights of others and expects its users to do the same. Company
            will
            remove all infringing Content if properly notified that it infringes third party copyrights, and may do so
            at
            its sole discretion, without prior notice to users at any time. Under the United State Digital Millennium
            Copyright Act of 1998 (the “DMCA”), it is the Company’s policy to respond expeditiously to copyright owners
            who
            believe Content infringes their rights. Company reserves the right to remove any Content without prior
            notice to
            you, any other user, or any third party. If you believe that Content made available through the App
            infringes
            your copyright, you may send us a notice requesting that it be removed, or access to it blocked. If you
            believe
            that such a notice has been wrongly filed against you, the DMCA lets you send us a counter-notice. Notices
            and
            counter-notices must meet DMCA’s requirements. We suggest that you consult your legal advisor before filing
            a
            notice or counter-notice. Be aware that there can be substantial penalties for false claims. Notices and
            counter-notices may be sent to our copyright agent at team.motiveate@gmail.com. It is the Company’s policy
            that
            in appropriate circumstances the account of users who have committed multiple infringements will be
            terminated.
        </p>

        <p>
            19. Third Party Beneficiary
            The Company and you agree that Apple, and Apple’s subsidiaries, are third party beneficiaries of this
            Agreement,
            and that, upon your acceptance of the terms and conditions of this Agreement, Apple will have the right,
            accepted by the Company, to enforce the Agreement against you as a third party beneficiary thereof. Only the
            Company is responsible for providing maintenance and support to the App. Any support inquiries should be
            addressed to team.motiveate@gmail.com.
        </p>

        <p>
            20. Jurisdiction and Venue
            The courts of Orange County in the State of Florida, USA, and the nearest US District Court in the State of
            Florida will be the exclusive jurisdiction and venue for all legal proceedings that are not arbitrated under
            this Agreement.
        </p>

        <p>
            21. Controlling Law
            This Agreement will be construed under the laws of the State of Florida, USA, excluding rules regarding
            conflicts of law.
        </p>

        <p>
            22. Intended for Use Only Within the United States
            This App is intended for use only from within the United States. We do not represent that this App is
            appropriate for use elsewhere. Access to this App from locations where its contents are illegal is not
            authorized.
        </p>

        <p>
            23. Onward Transfer of Personal Information Outside Your Country of Residence
            Any personal information which we may collect with this App will be stored and processed on our servers
            located
            only in the United States. If you reside outside the United States, you consent to the transfer of your
            personal
            information outside your country of residence to the United States.
        </p>

        <p>
            24. Severability
            If any provision of this Agreement is declared invalid or unenforceable, such provision will be deemed
            modified
            to the extent necessary and possible to render it valid an enforceable. In any event, the unenforceability
            or
            invalidity of any provision will not affect any other provision of this Agreement, and this Agreement will
            continue in full force and effect, and be construed and enforced, as if such provisions had not been
            included,
            or had been modified as above provided, as the case may be.
        </p>

        <p>
            25. Force Majeure
            We shall not be liable for
            26. Contact Information
            You may contact the company at team.motiveate@gmail.com.
        </p>
    </ion-content>
</ion-view>